{% extends "layout.html" %}
{% block content %}
<div class="add_div">
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      {% if current_user.is_authenticated and current_user.id == item.user_id  %}
      <a href="{{url_for('edit_item', item_id=item.id,cat_id=item.category_id.id)}}">Edit</a>
      <a href="#" id="delete_item">Delete</a>
      <div id="confirm_deletion" style="display:none">
        <h3>Are You Sure You Whant To Delete This Item? </h3>
        <form id="delete_form" action="{{url_for('delete_item', item_id=item.id)}}" style="display:inline" method="POST">
        <a href="#" onclick="document.getElementById('delete_form').submit();" >YES</a>
        </form>
        <a href="" id="close_deletion">CLOSE</a>
      {% endif %}
  </div>
</div>
{% endblock %}
